<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <table border="1">
            <tr><td>1</td><td>ASP.NET Web Forms</td></tr>
            <tr><td>2</td><td>ASP.NET MVC</td></tr>
        </table>
    </div>
</body>
</html>
